@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  background-color: #f0f0f0;
  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
}
.logo {
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 600;
  text-transform: uppercase;
}
.nav {
  width: 650px;
}
.nav ul {
  display: flex;
  justify-content: space-around;
}
.nav ul a {
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 500;
  position: relative;
  padding-bottom: 3px;
}
.nav ul a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; 
  background-color: #1740b1; 
  transition: width 0.6s ease; 
}
.nav ul a:hover {
  color: #1740b1;
}
.nav ul a:hover::after {
  width: 100%;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(mypic.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
section {
  padding: 100px 150px;
}
.main h2 {
  color: #fff;
  font-size: 2.4em;
  font-weight: 300;
  letter-spacing: 1px;
}
.main h3 {
  color: #4e9eff;
  font-size: 4.3em;
  font-weight: 600;
  margin-top: 10px;
}
.main p {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.main-btn {
  text-decoration: none;
  color: #fff;
  background-color: #3a6cf4;
  letter-spacing: 1px;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.9375em 2.1875em;
  border-radius: 15px;
  margin-bottom: 15px;
  display: inline-block;
  transition: 0.7s ease;
}
.main-btn:hover {
  background-color: #0a49f6;
  transform: scale(1.1);
}
.social-icons {
  text-decoration: none;
  display: flex;

  width: 150px;
  padding: 0px 20px;
}
.social-icons a {
  color: #fff;
  font-size: 1.7em;
  padding-right: 40px;
}
.title {
  color: #3a6cf4;
  display: flex;
  justify-content: center;
  font-size: 2.2em;
  font-weight: 800;
}
.box {
  background-color: #f0f0f0;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
  transition: 1s ease;
}
.box:hover {
  transform: scale(1.1);
}
.about-text {
  display: flex;
  align-items: center;
  margin-top: 30px;
  color: black;
  font-size: 1.8em;
  font-weight: 300;
}
.services {
  min-height: 100vh;
  width: 100%;
}
.services-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 90px;
  height: 450px;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 21.25em;
  border-radius: 30px;
  box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
  transition: 1s ease;
}
.card:hover {
  transform: scale(1.1);
}
.card-icon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}
.card-info h3 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  color: #3a6cf4;
  margin: 10px;
}
.card-info p {
  text-align: center;
  color: black;
  margin: 10px;
}
.contact {
  min-height: 100vh;
  width: 100%;
}
.contact-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 90px;
  height: 280px;
  width: 100%;
}
.contact-card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 21.25em;
  border-radius: 30px;
  box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
  transition: 1s ease;
}
.contact-card:hover{
  transform: scale(1.1);
}
.projects {
  background-color: black;
  padding: 100px;
 
}
.projects .content{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 17em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 30px;
    transition: 0.7s ease;
}
.project-card:hover{
  transform: scale(1.1);
}
.project-img img{
  
  height: 60%;
  width: 100%;
}
.project-info{
  margin: 10px;

}
.project-category{
  font-size: 14px;
  margin-bottom: 10px;

}
.project-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-title span{
  font-weight: 800;
}
.more-details{
  color: #3a6cf4;
  text-decoration: none;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}
.footer p {
  color: white;
  display: flex;
}
.footer p span {
  color: #3a6cf4;
}
.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}


